pipeline/pl_create_silver_tables.json
{
	"name": "pl_create_silver_tables",
	"properties": {
		"description": "This pipeline uses a delete activity dynamically to delete all the files in a data lake path and then procedure activity to call a user defined stored procedure (usp) to recreate all external tables along with all the files in that folder.",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('folder_path_usp_name_array')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Delete Silver Taxi Folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"folder_path_param": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create Silver Taxi Zone",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Silver Taxi Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"folder_path_var": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"usp_name_var": {
				"type": "String",
				"defaultValue": "silver.usp_silver_taxi_zone"
			},
			"folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					},
					{
						"folder_path": "silver/rate_code",
						"usp_name": "silver.usp_silver_rate_code"
					},
					{
						"folder_path": "silver/payment_type",
						"usp_name": "silver.usp_silver_payment_type"
					}
				]
			}
		},
		"annotations": []
	}
}